@charset "UTF-8";

/* 공통속성 */
body {
	font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    font-size: 100%;
    margin: 0 auto;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    word-break: break-all;
}	

/* 헤더 시작 */
.header{
	width: 100%;
}

.header_content{
	
	border-bottom: 1px solid #eee;
}


/* 모든 본문 내용의  공통 마진 */
.content{
	width: 1000px;
	margin: 0 auto;
} 

.logo {
	
	padding: 15px 0;
	text-align: center;
}		

.logo img {
	width: auto;
	height: 80px;
}

.logo span {
    font-weight: 500;
    font-size: 14px;
    color: #222;
    letter-spacing: 0.313em;
    line-height: 1.2em;
    margin-bottom: 5px;
}

.nav {
	height: auto;
	border-bottom: 2px solid #fb4357;
	text-align: center;
}

.nav ul{
	padding: 0;
	padding-left: 10px;
}

.nav li {
	text-decoration: none;
	list-style: none;
	display: inline-block;
	width: 230px;
}

.nav span {
	font-weight: 700;
    font-size: 16px;
    color: #222;
}

.nav span:hover {
	cursor: pointer;
	color: #fb4357;
}

.nav span#on {
	color: #fb4357;
}


.login {
	padding-top: 5px;
	text-align: right;
}

.login ul {
	margin: 5px;
	padding: 0;
}

.login li {
	text-decoration: none;
	list-style: none;
	display: inline-block;
	width: 100px;
	font-size: 12px;
	font-weight: 500;
	color: gray;
}

.login li:hover {
	font-weight: 700;
	cursor: pointer;
	color: charcoal;
}

.login img {
	
	width: auto;
	height: 30px;
}

/* 헤더 끝  */


/* 본문 article 태그*/
.article {
	margin-top: 50px;
	margin-bottom: 50px;
}
