@charset "UTF-8";

/* 본문 시작 */

  
.img{ 
	list-style-type : none;
	position: absolute; 
	left: 0; 
	top: 0; 
	/* width: 2500px;  슬라이드할 사진과 마진 총 넓이 */ 
	transition: left 2000s;
	}

.popular {
	margin-top: 100px;

	margin-bottom: 100px;
}

.popular.content {
	border-bottom: 1px solid #eee;
	
}

.rank_1{
	background-color: #ec5e5e;
}

.rank_2{
	background-color: orange;
}

.rank_3{
	background-color: #ec5e5e;
}

/* 본문 끝  */