@charset "UTF-8";


.popular{
	width : 1300px;
	height: 500px;
	background-color: beige;
	border-radius: 30px;
	
}

h1,p{
	
	margin-left: 50px;
	margin-top: 10px;
	position: relative;
	bottom: -25px;
	
}

span{
	font-size: 25px;
	color : #8C8C8C;
}

.cont{
	width : 1200px;
	height: 380px;
	
	margin-left: 50px;
	margin-right: 500px;
	margin-top: 40px;
	border-radius: 30px;
}

.cont span{
	
	font-size: 18px;
	
	

}

.td td{
	position: relative;
	
	top : 9px;
	left : 7px;
	font-size: 18px;
}

.cont{
	width : 900px;
	height: 320px;
	border : 1px solid black;
}

.rank_1{
	
	
	background-color: red;
	border-radius: 10px;
}

.rank_2{
	
	
	background-color: orange;
	border-radius: 10px;
}

.rank_3{
	
	
	background-color: yellow;
	border-radius: 10px;
}

.rank{
	
	
	background-color: #D5D6D8;
	border-radius: 10px;
}

.rank_10{

	
	background-color: #D5D6D8;
	border-radius: 10px;
	
}

.all{
	
	width : 100px;
	height: 25px;
	border : 1px solid #8C8C8C;
	margin-top : -20px;
	margin-left: 870px;
	border-radius: 30px;
}

